body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: #FF69B4; 
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    z-index: 1000;
    top: 0; 
}

.logo img {
    width: 40px;
    height: auto;
}

.nav-link {
    color: #000;
}

.nav-link:focus {
    color: red;
}

.container {
    margin-top: 80px;
}

#container {
    background-color: #FBAED2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
}

.profile-img {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.content {
    color: #FBAED2;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
